@import url("https://pro.fontawesome.com/releases/v5.10.0/css/all.css");

video {
  width: 300px;
  height: 300px;
  filter: brightness(0.5);
}

.videoBlock {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 60px;
  position: absolute;
  bottom: 20px;
}
button {
  background-color: royalblue;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  text-transform: uppercase;
  font-weight: bold;
}
.cancelIcon{
    background-color: #fff;
    margin-left: 10px;
    padding: 5px;
}
